/* ---- GENERALES-----*/
*{
    box-sizing: border-box;
}
body{
   margin: 0;
   background: rgb(162, 162, 243);

}

/* ---- fORMULARIO-----*/
.container{
    /* border: 3px solid rgb(255, 0, 0); */
    max-width: 90%;
    
    margin: auto;
    margin-top: 20px;
   

}
.form{
    /* border: 3px solid rgb(0, 255, 213); */
    max-width: 400px;
    padding: 30px 50px;
    margin: auto;
    margin-top: 10px;
    background-color: rgba(58, 60, 63, 0.993);
    

}
.form-titulo{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #fff;
    margin: 0;
    padding-bottom: 20px;
    letter-spacing: 3px;
    font-family: sans-serif;

}
.form--input{
    /* border: 3px solid red; */
    margin-bottom: 30px;
    
}
.form--input label{
    color: #fff;
    display: block;
    margin-top: 10px;
    font-size: 15px;
    font-family: sans-serif;


}
.form--input input{
    width: 100%;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid #fff;
    color: #fff;

}
.form--input input:focus + label{
    font-weight: bold;
    color: rgb(215, 221, 250);
}
.termsyconditions{
color: #fff;
}
.termsyconditions a{
    
    color: azure;
    }
    .termsyconditions a:hover{
        cursor: pointer;
        }
        .form-butom input{
            background:#002f6c;
            color: #fff;
            padding: 10px 20px;
            font-size: 20px;
            border: none;
            display: block;
            margin: auto;
            margin-top:40px;
            

        }
        .form-butom input:hover{
            background: #0b57bb;
            cursor: pointer;
        }

        .mensajeError{
            color:red;
            margin-top: 0px;
            font-size: 12px;
            font-weight: bold;
            letter-spacing:1px ;
        }
        .mensajeCorrecto{

            text-align: center;
            color: #fff;
        }
